<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @paint_list.name %>
</p>

<%= link_to 'Edit', edit_paint_paint_list_path(@paint_list) %> |
<%= link_to 'Back', paint_paint_lists_path %>
