table.paint_list_units{
	width: 100%;
	border: 1px solid black;

	th {
		color: white;
		vertical-align: middle;
		text-align: center;
	}

	td, th {

		&.name {
			width: 20%;
		}

		&.size, &.step {
			width: 7%;
			text-align: center;
    		text-transform: uppercase;
		}

		&.step, .fa {
			cursor:pointer;
		}

		&.done {
			background-color: green;
		}

		&.wip {
			background-color: blue
		}

		&.wip, &.done {
			color: white;
			font-weight: bold;
		}

		input.edit-size {
			width: 100%
		}

		input.edit-comment {
			width: 90%;
		}
	}

	thead {
		background-color: #360A00;
	}

	tbody {
		background-color: white;
	}
}