#army_list_unit_all_options {
	min-width:950px;

	#army_list_unit_unit_options{

		ul > li > ul {
			margin-left: 2vmin;
		}
	}
}

.new_builder_army_list,
.edit_builder_army_list, 
.new_builder_army_list_unit, 
.edit_builder_army_list_unit {
	.btn {
		display: block;
		margin: 0 auto;
	}
}