@import "common/global";
@import "bootstrap-sprockets";

#army_list_unit_all_options {
    min-width: 950px;

    #army_list_unit_unit_options {

        ul>li>ul {
            margin-left: 2vmin;
        }
    }
}

.new_builder_army_list,
.edit_builder_army_list,
.new_builder_army_list_unit,
.edit_builder_army_list_unit {
    .btn {
        display: block;
        margin: 0 auto;
    }
}

.army_list_units_overview {
    position: relative;
    padding: 0;

    > li {
        position: relative;
        padding: 6px 0;
        list-style: none;
        margin-bottom: 5px;
        background: image-url("bg_army_list_unit_overview_content.png") repeat-x;

        &::before,
        &::after {
            content: "";
            width: 16px;
            height: 55px;
            display: block;
            position: absolute;
            top: 0;
        }

        &::before {
            background: image-url('bg_army_list_unit_overview_left.png') no-repeat;
            left: 0;
        }

        &::after {
            background: image-url('bg_army_list_unit_overview_right.png') no-repeat;
            right: 0;
        }
    }

    .position {
        position: relative;
        z-index: 2;
        top: 7px;
        left: -10px;
        background: white;
        padding: 2px 3px;
        border: 1px solid black;
        width: 25px;
        float: left;

        &:hover {
            cursor: move;
        }
    }

    .name {
        float: left;
        width: 33%;
        font-size: 14px;

        &:hover {
            cursor: pointer;
        }

        strong {
            display: block;
            font: 18px "godofwarregular";
        }

        em {
            font-style: normal;
            font-weight: bold;
        }
    }

    .value_points {
        float: left;
        width: 10%;
        font-size: 10px;
        text-align: center;
        text-transform: uppercase;
        background: image-url("bg_army_list_unit_overview_value_points.png") no-repeat;
        background-position: center;

        strong {
            display: block;
            font-size: 20px;
        }
    }

    .actions {
        margin: 8px 20px 0 0;

        a>i {
            color: black;
        }
    }

    .ribbon {
        position: absolute;
        top: -4px;
        right: -7px;
        width: 97px;
        height: 54px;
    }
}


.army-list-point {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

.army_list_unit_new {
    clear: right;
    display: block;
    padding-top: 45px;
    padding-right: 10px;
    width: 180px;
    height: 70px;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    text-decoration: none;
    background: image-url("bt_new_army_list_unit.png") no-repeat;
    color: #000;
    margin: 25px auto;
}

.army_list_value_points,
.army_list_notes {
    clear: right;
    margin: 0 auto;
    padding: 10px 5px;
    width: 180px;
    background: image-url("bg_army_list_value_points.png") no-repeat;
    min-height: 150px;

    h3 {
        font: 20px "godofwarregular";
        line-height: 14px;
        text-align: center;
        margin: 5px auto 25px auto;

        @media #{$portrait} {
            margin: 0;
        }
    }
}

.magic-item-quantity {
    position: relative;
    top: 0;
    height: 1.5em;
    width: 40px;
    text-align: center;
}

.army_list_unit_add_element {
    strong {
        &.empty {
            opacity: 0.5;
        }
    }
}


.list-inline > li {
    padding: 0 !important;
}

#army_list_unit_unit_options, #army_list_unit_extra_items {
    .disable {
        color: gray;
        text-decoration: line-through;
    }
}

.army_list_organisations {
  em, strong, span {
    display:block;
  }
}