$margin: 50px;
$margin-small: 5vmin;

$fixed-logo-height: 40px;
$fixed-logo-height-small: 9vmin;

// media queries
$phone-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;


$mobile: "all and (max-device-width: #{$phone-width}),
          all and (max-device-width: #{$tablet-width - 1px}),
          all and (max-width: #{$phone-width})";
$tablet: "all and (min-device-width: #{$tablet-width}) and (max-device-width: #{$desktop-width}),
          all and (min-width: #{$phone-width}) and (max-width: #{$desktop-width})";
$desktop: "all and (min-device-width: #{$desktop-width + 1}) and (min-width: #{$desktop-width + 1})";
$portrait: "all and (orientation: portrait)";
$landscape: "all and (orientation: landscape)";

p {
  margin: 0;
}

.futura {
  font: 100% Futura;
  font-weight: bold;
  color: #000000;
  font-size: 5.5vmin;
  text-transform: uppercase;
}

.helvetica {
  font: 100% Helvetica Neue Light;
  line-height: 1.6em;
  font-size: 2.2vmin;
  color: #000000;

  @media #{$mobile} {
    line-height: 1.25em;
    font-size: 3.1vmin;
  }
}

.lato {
  font: 100% Lato;
  font-size: 1.75vmin;
  color: #000000;

  @media #{$mobile} {
    font-size: 3vmin;
  }
}

.paragraph {
  &:not(:first-of-type) {
    margin-top: 1.5em;
  }

  @media #{$mobile} {
    &:not(:first-of-type) {
      margin-top: 1em;
    }
  }
}

.yellow {
  background: #FFDD00;
}

// Square css transitions (appearance animation)
.square {
  -webkit-transition: height 1s cubic-bezier(0.165, 0.84, 0.44, 1), width 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: height 1s cubic-bezier(0.165, 0.84, 0.44, 1), width 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: height 1s cubic-bezier(0.165, 0.84, 0.44, 1), width 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: height 1s cubic-bezier(0.165, 0.84, 0.44, 1), width 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition-delay: 0s, 0.6s;
  -moz-transition-delay: 0s, 0.6s;
  -o-transition-delay: 0s, 0.6s;
  transition-delay: 0s, 0.6s;
}

body {
  padding: 0;
  margin: 0;
}

.navbar {
  margin-bottom: 0;
}

.small-text {
  font-size: 1.5vmin;
}