<div class="col-md-12 col-xs-12 col-sm-12 organisation-<%= @organisation.id %>">
  <%= image_tag @organisation.medium_logo_url, alt: @organisation.name, height: 99, class: 'block-center' %>
  <h1 class="text-center"><%= @organisation.name %></h1>
</div>