/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree ./common
 *= require_tree ./ninth_age
 */
@import "common/global";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "home";

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

#army_list_search {
  label {
    position: relative;
    top: 2px;
  }

  #q_army_id_eq {
    margin-left: 20px;
    margin-right: 20px;
    width: 240px;
  }

  #q_name_or_notes_cont {
    margin-left: 20px;
    width: 240px;
  }

  input[type=submit] {
    float: right;
  }
}

.army_list_row {
  position: relative;
  height: 180px;

  p {
    margin: 5px 0;
    text-align: center;
  }
}

.army_list_row:hover {
  cursor: pointer;
}

.army_list_row .value_points {
  position: absolute;
  top: 65px;
  right: 20px;
  font: 40px "godofwarregular";
  line-height: 20px;
  color: #fff;
  text-align: right;
  text-shadow: -2px 0 #470b03, 0 2px #470b03, 2px 0 #470b03, 0 -2px #470b03;
}

.edit_army_list #army_list_notes {
  min-height: 80px;
}

.army_list_portrait {
  position: absolute;
  top: 7px;
  left: 33%;
  margin: 0 auto;
  white-space: nowrap;
  z-index: 2000;

  h1 {
    color: #470b03;
  }

  h1, h2 {
    margin: 0;
  }
}

.army_list_portrait {
  img {
    float: left;
    margin-right: 5px;
  }

  h1 {
    font: 25px "godofwarregular";
    line-height: 30px;
  }
}

.army_list_portrait {
  h2, h2 a {
    font: 18px "godofwarregular";
    line-height: 35px;
    color: #fff;
    text-decoration: none;
  }
}

#subheader.army_list {
  button, input[type=submit], select {
    float: right;
    margin-left: 5px;
  }

  button.left {
    float: none;
    margin: 0;
  }
}

.army_list_value_points, .army_list_notes {
  float: right;
  clear: right;
  margin-bottom: 15px;
  padding: 0 5px;
  width: 180px;
  background: image-url("bg_army_list_value_points.png") no-repeat;
}

.army_list_value_points h3, .army_list_notes h3 {
  margin-bottom: 25px;
  font: 20px "godofwarregular";
  line-height: 14px;
  text-align: center;
  margin: 15px auto;

  @media #{$portrait} {
    margin: 0;
  }
}

.army_list_value_points {

  em {
    float: right;
    font-style: normal;
  }

  ul li {
    list-style: none;
    padding: 1px 2px;

    .red {
      background: rgba(192, 4, 24, .3);
    }

    .green {
      background: rgba(177, 200, 0, .3);
    }
  }
}

.army_list_unit_new {
  clear: right;
  float: right;
  display: block;
  padding-top: 45px;
  padding-right: 10px;
  width: 180px;
  height: 70px;
  font-size: 14px;
  font-weight: bold;
  text-align: right;
  text-decoration: none;
  background: image-url("bt_new_army_list_unit.png") no-repeat;
  color: #000;
}

.army_list_value_points, .army_list_notes, .army_list_unit_new {

  @media #{$portrait} {
    float: none;
    margin: auto;
    padding: 5px;
  }
}

.army_list_units_overview {
  float: left;
  position: relative;
  padding: 0;
  height: 60px;

  li {
    padding: 6px 0 6px 15px;
    list-style: none;
    margin-bottom: 5px;
    background: image-url("bg_army_list_unit_overview.png") repeat-x;
  }

  .position {
    position: relative;
    top: 7px;
    left: -25px;
    background: white;
    padding: 2px 3px;
    border: 1px solid black;
    width:25px;
    float: left;

    &:hover {
      cursor: move;
    }
  }

  .name {
    float: left;
    width: 360px;
    font-size: 14px;

    &:hover {
      cursor: pointer;
    }

    strong {
      display: block;
      font: 18px "godofwarregular";
    }

    em {
      font-style: normal;
      font-weight: bold;
    }
  }

  .value_points {
    float: left;
    width: 110px;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;

    strong {
      display: block;
      font-size: 20px;
    }
  }

  .actions {
    margin: 8px 5px 0 0;

    button {
    }
  }

  .ribbon {
    position: absolute;
    top: -4px;
    right: -7px;
    width: 97px;
    height: 54px;
  }
}

.army_list_unit_details {
  margin: 0 10px;
  padding: 15px;
  width: 675px;

  background-color: rgba(71, 11, 3, 0.1);
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 2px solid rgba(71, 11, 3, 0.5);
  border-top: none;

  -moz-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);

  table {
    width: 100%;

    thead th {
      padding-bottom: 5px;
      font-weight: bold;
    }
  }

  h4 {;
    margin-top: 10px;
  }

  .options {
    float: right;
    width: 320px;

    em {
      float: right;
    }
  }
}

.edit_army_list_unit {
  ul {
    list-style: none;
  }

  li ul {
    padding-left: 15px;
  }

  h3 {
    padding-top: 3px;
    height: 30px;
    text-align: center;
    color: #fff;
    background: rgba(71, 11, 3, 0.8);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  table {
    margin: 10px 0;

    td {
      vertical-align: middle;
      padding-right: 5px;
    }
  }

  #army_list_unit_name {
    width: 80%;
  }

  #army_list_unit_unit_category_id {
    margin-left: 2%;
    width: 16%;
  }

  .army_list_unit_troop_size {
    width: 30px;
    text-align: right;
  }

  #army_list_unit_unit_options {
    width: 450px;
    overflow: hidden;

    em {
      float: right;
    }
  }

  #army_list_unit_troops {
    white-space: nowrap;
  }

  #army_list_unit_all_options td {
    vertical-align: top;
  }

  #army_list_unit_magic_items ul li strong, #army_list_unit_magic_standards ul li strong, #army_list_unit_extra_items ul li strong {
    cursor: pointer;
  }

  #army_list_unit_magic_items, #army_list_unit_magic_standards, #army_list_unit_extra_items {
    margin-left: 10px;
    width: 300px;
    overflow: hidden;

    em {
      float: right;
    }
  }
}

.navbar-inverse {
  border: 0 !important;

  .navbar-brand {
    padding: 0;
    font-weight: bold;
  }

  .navbar-brand, .navbar-nav > li > a {
    color: white !important;
    font-size: 14px;

    em {
      font-size: 12px;
      font-weight: normal;
    }
  }

  .navbar-nav {
    & > .open > a, & > li > .dropdown-menu {
      background-color: #6c3c35 !important;
    }

    & > li > .dropdown-menu > li > a {
      color: white !important;
    }

    & > li > .dropdown-menu > li > a:hover, & > li > .dropdown-menu > li > a:focus {
      color: black !important;
    }
  }
}

.gravatar {
  height: 20px;
}

.army-list-zone-action {
  @media #{$portrait} {
    display: inline-flex;
  }
}

.highlight-red {
  color: red !important;
}

.highlight-green {
  color: green !important;
}

.highlight-blue {
  color: blue !important;
}

.footer-back {
  padding: 25px;
  text-align: center;

  a.link-back {
    font-weight: bold;
  }
}

.block-center {
  margin: 0 auto;
  display: block;
}

.clearboth{
  clear: both;
}