#wrapper_home {
  background: image-url("bg_home.jpg") repeat-x;
  min-height: 425px;
}

.home {
  padding-top: 25px;
  height: 400px;
  color: #fff;

  .signin {

    input {
      height: 30px;
    }

    input[type=submit] {
      float: right;
      font-size: 11px;
    }

    a {
      margin-left: 13px;
      font-size: 10px;
      color: #fff;
      opacity: 0.90;
    }
  }

  .signup {
    margin-top: 76px;

    input {
      height: 30px;
    }

    strong {
      display: block;
      font-size: 16px;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.75);
    }

    p {
      margin-top: 8px;
    }

    input[type=text], .home .signup input[type=email], .home .signup input[type=password] {
      width: 100%;
    }

    input[type=submit] {
      float: right;
      font-size: 16px;
    }
  }

  #user_remember_me {
    position: relative;
    top: 4px;
    height: 15px;
  }

  label[for=user_remember_me] {
    font-size: 10px;
    opacity: 0.90;
  }

  h1 {
    font-size: 20px;
    font-weight: bold;

    em {
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
    }
  }

  h2 {
    font: 50px "godofwarregular";
    font-weight: normal;

    span {
      font-size: 38px;
    }

    em {
      font-size: 38px;
      color: #ffb129;
      font-style: normal;
    }
  }

  .catcher {
    margin-top: 90px;
    text-shadow: 0px 0px 12px #000000;
    filter: dropshadow(color=#000000, offx=0, offy=0);
  }

  .disclaimer {
    margin-top: 150px;
    padding-left: 100px;
    background: image-url("pict_home_wt.png") no-repeat;
    color: #470b03;

    iframe {
      float: right;
      margin-left: 10px;
    }

    strong {
      font-size: 20px;
      color: #a01e14;
    }

    p {
      margin-bottom: 10px;
    }

    p:last-child {
      font-size: 11px;

      strong {
        font-size: 14px;
      }
    }
  }

  .links {
    color: #470b03;

    img {
      position: relative;
      top: -2px;
      margin: 0 10px;
    }
  }
}

html[lang=en] .home .signin a {
  margin-left: 50px;
}