@import "common/reset";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

@import "tournament/podium";

@font-face {
  font-family: "godofwarregular";
  src: font-url("godofwar-webfont.eot");
  src: font-url("godofwar-webfont.eot?#iefix") format("embedded-opentype"),
  font-url("godofwar-webfont.woff") format("woff"),
  font-url("godofwar-webfont.ttf") format("truetype"),
  font-url("godofwar-webfont.svg#godofwarregular") format("svg");
  font-weight: normal;
  font-style: normal;

}

body {
  font: 13px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
  color: #000;
}

a {
  color: #470b03;
  text-decoration: none;
}

#header {
  position: relative;
  color: #470b03;
  height: 100px;
  background: image-url("pdf/bg_header.png") 0 50% no-repeat;

  h1 {
    float: left;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;

    strong {
      display: block;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 15px;
    }
  }

  h2 {
    margin-top: 8px;
    width: 950px;
    font: 30px "godofwarregular";
    text-align: right;

    small {
      color: #470b03;
    }

    strong {
      font-size: 40px;
    }
  }

  img {
    display: block;
    float: right;
  }
}

#footer {
  overflow: hidden;
  margin-top: 15px;
  padding-top: 15px;
  height: 35px;
  color: #470b03;
  background: image-url("pdf/bg_header.png") no-repeat;

  .user_name, .site, .today {
    float: left;
    width: 320px;
    font: 18px "godofwarregular";
  }

  .site {
    text-align: center;
  }

  .today {
    text-align: right;
  }
}

.army_list_value_notes {
  margin-bottom: 10px;
}

.army_list_value_points {
  background: #f2ead3;
  overflow: hidden;

  .army_magic_spell {
    margin: 0 5px;

    h2 {
      font-size:25px;
      margin-top: 10px;
      margin-bottom: 5px;
    }

    table {
      border: 0;
      border-bottom: 1px solid gray;

      thead {
        color: gray;
        font-style: italic;

        border: 0;
        border-bottom: 1px solid gray;
      }

      th, td {
        width: 12%;
      }

      th:first-child, td:first-child {
        width:2%;
        font-style: italic;
        font-weight: bold;
      }

      tbody {

        &:tr:first-child td:first-child {
          font-size:25px; 
        }

        .casting_value, .range {
          span {
            display: block;
          }
        }
      }

      th:last-child, tbody tr:first-child td:last-child {
        width:50%;
      }
    }
  }

  ul {
    margin-top: 10px;
    padding: 0 5px;
    list-style: none;
    display: inline-flex;
    width: 100%;

    li {
      padding: 0 5px;
      font-size: 11px;
      text-align: center;
      width: 20%;

      * {
        display: block;
      }

      em {
        small {
          display: contents;
        }
      }

      strong {

        .text-small {
        }
      }
    }

    li.red {
      background: rgba(192, 4, 24, .3);
    }
  }
}

.army_list_unit {
  page-break-inside: avoid;
  margin-top: 15px;
  font-size: 13px;
  width: 100%;
  border-top: 2px solid #470b03;

  p {
    margin: 0 !important;
  }

  tr {
    border-top: 1px solid #470b03;
    border-bottom: 1px solid #470b03;
  }

  th {
    font-weight: bold;
  }

  th, td {
    padding: 3px;
  }

  .army_list_unit_overview {
    font-size: 14px;
    font-weight: normal;
    background: rgba(242, 234, 211, .4);

    strong {
      display: block;
      font: 18px "godofwarregular";
      font-weight: normal;
    }

    .value_points {
      float: right;
      font-size: 25px;
      font-weight: bold;
      line-height: 35px;
      font-variant: small-caps;
    }

    .unit-organisation-logo {
      float: left;
    }
  }

  .army_list_unit_troops {
    border: none;

    th.troop_name, td.troop_name {
      border-right: 1px solid #470b03;
    }

    th {
      text-align: center;
      border-bottom: 1px solid #470b03;

      &.odd {
        background: rgba(242, 234, 211, .6);
      }
    }

    td {
      padding: 0 3px;

      &.odd {
        background: rgba(242, 234, 211, .6);
      }

      &.troop_name {
        padding-left: 10px;
        padding-right: 10px;

        em {
          display: block;
          float: right;
        }
      }

      &.characteristic {
        width: 6%;
        text-align: center;
      }

      &.troop_type {
        width: 18%;
        text-align: center;
      }
    }
  }

  .army_list_unit_more {
    th {
      border-right: 1px solid #470b03;
    }

    &.lite {
      th {
        width: 125px;
      }
    }
  }
}

.army_list_unit_troops_v2 {
  table.content-stats {
    width: 70%;
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 100%;
    margin: 0 auto;

    thead {
      font-weight: bold;
    }

    td {
      text-align: center;
      border: 1px solid black;
      border-collapse: collapse;
      font-size: 100%;
      padding: 0;
      min-width: 20px;
      min-height: 30px;

      input {
        width: 50px;
        text-align: center;
      }
    }

    &.stats-global, &.stats-defensive, &.stats-offensive {
      width: 100%;
      padding: 0 1vmin;

      &:first {
        margin-top: 2vmin;
      }

      td {
        border: 0;
        width: 5%;

        &[colspan="2"] {
          width: 10%;
        }

        &:first-child {
          width: 15%;
          text-align: left;
        }

        &:last-child {
          width: 50%;
          text-align: left;
        }
      }

      thead {
        color: gray;
        font-style: italic;
      }

      tbody {
        td {
          font-weight: bold;
        }

        ul {
          li {
            padding: 0 !important;
          }
        }
      }
    }

    &.stats-global {
      border: 0;
      border-top: 2px solid black;
    }
    &.stats-defensive {
      border: 0;
      border-top: 1px solid gray;
    }
    &.stats-offensive {
      border: 0;
      border-top: 1px solid gray;
    }
  }
}

.highlight-red {
  color: red !important;
}

.highlight-green {
  color: green !important;
}

.highlight-blue {
  color: blue !important;
}

.text-italic{
  font-style: italic;
}

.army_list_magic {
  margin-top: 10px;

  h2 {
    margin-top: 0;
  }  

  h4 {
    margin-top: 0;
    font-weight: bold;
  }

  table.army_magic_spell {

    thead {
      color: gray;
      font-style: italic;
    }

    th, td {
      width: 10%;
    }

    td.magic-spell-effect{
      padding: 1px;
    }

    tr {
      border: 0;
      border-bottom: 1px solid gray;
      
      &:last-child{
        border: 0 !important;
      }
    }

    th:first-child, td:first-child {
      width:5%;
      font-style: italic;
      font-weight: bold;
    }

    th:nth-child(3), td:nth-child(3),
    th:nth-child(4), td:nth-child(4) {
      width:5%;

      span[class^="highlight-"] {
        display:block;
      }
    }

    th:nth-child(5), td:nth-child(5) {
      width:15%;
    }

    tbody {

      &:tr:first-child td:first-child {
        font-size:25px; 
      }

      .casting_value, .range {
        span {
          display: block;
        }
      }
    }

    th:last-child, tbody tr:first-child td:last-child {
      width:60%;
    }
  }
}


.section {
  border: 1px solid gray;
  margin: 20px 0;
  padding: 0 5px;
  
  &> h2 {
    font-weight: bold;
    text-align: center;
  }

  .army_list_special_rule, .army_list_magic_item {
    h4 {
      font-weight: bold;
      text-decoration: underline;
    }
  }
}

.army_magic_spell table tbody .casting_value span, 
.army_magic_spell table tbody .range span {
    display: block;
}

#army_list_organisations {
  em, strong, span {
    display:block;
  }
}

.army_magic_spell {

  table {
    border: 0;
    border-bottom: 1px solid gray;

    thead {
      color: gray;
      font-style: italic;

      border: 0;
      border-bottom: 1px solid gray;
    }

    th, td {
      width: 12%;
    }

    th:first-child, td:first-child {
      width:15%;
      font-style: italic;
    }

    th:first-child {
      font-weight: bold;
    }

    tbody {

      &:tr:first-child td:first-child {
        font-size:25px; 
      }
    }

    th:last-child, tbody tr:first-child td:last-child {
      width:50%;
    }
  }
}

.text-bold {
  font-weight: bold;
}

table.list-user-points, table.list-user-custom-points, table.list-user-total-points {
  width: 100%;
  clear: both;

  thead {
    background-color: #56251a;
    color: white;
    font-weight: bold;

    th {
      text-align: center;
      padding: 2px 5px;

      a{
        color: white;
        font-weight: bold;
      }
    }
  }

  tbody {
    background-color: white;

    tr {
      border-bottom: 1px solid #56251a;
    }

    td {
      padding: 2px 5px;

      &:not(:first-child) {
        text-align: center;
      }

      i {
        color: #56251a;
      }
    }
  }
}