<h1><%= t('versions.index.title') %></h1>
<div>
  <% @versions.each do |version| %>
      <article class="grid_4 version-<%= version.id %> text-center">
          <h4><%= version.name %></h4>
          <%= link_to t('versions.index.show'), ninth_age_version_path(version) %>
      </article>
  <% end %>
</div>