<div class="col-md-12 col-xs-12 col-sm-12 version-<%= @version.id %>">
  <h1 class="text-center"><%= @version.name %></h1>

  <div class="row">
  </div>

  <div class="footer-back">
    <%= link_to t('versions.show.back'), ninth_age_versions_path, class: 'link-back' %>
  </div>
</div>