<% if equipments.any? %>
  <h4><%=t 'army_list_unit.show.equipments' %> <%= "(#{troop.name})" unless troop.nil? %></h4>
  <% equipments.each do |equipment| %>
    • <%= equipment.name %> <br />
  <% end %>
<% end %>
