.tournament-organisation{
	margin-top: 10px;

	table.events-list {
		width: 100%;
		clear: both;

		thead {
			background-color: #56251a;
			color: white;
			font-weight: bold;

			th {
				text-align: center;
				padding: 2px 5px;
			}
		}

		tbody {
			background-color: white;

			tr {
				border-bottom: 1px solid #56251a;
			}

			td {
				padding: 2px 5px;

				i {
					color: #56251a;
				}
			}
		}
	}
}

.show-tournament {
	h1.event-name {
		margin-bottom: 0;
	}

	.event-date {
		margin-left: 15px;
	}

}