<p>Welcome on Army Builder,</p>

<p>Your subscription has been taken into account.<br />
To activate it, thank you to click on the following link:</p>

<p><%= link_to 'Confirm your subscription', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>This is only an informational message. Emails sent to this address will not be taken into account.<br />
For any questions do not hesitate to consult the <a href="mailto:support@9thbuilder.com">online help</a></p>

<p>Army Builder team</p>
