<p>Hi,</p>

<p>Someone asked the Army Builder account password change related to the following email address:</p>

<p><%= @resource.email %></p>

<p>To make the change, click the link below:</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you have asked nothing, ignore this message. Your password will not change.</p>

<p>This is only an informational message. Emails sent to this address will not be taken into account.<br />
For any questions do not hesitate to consult the <a href="mailto:support@whbab.com">online help</a></p>

<p>Army Builder team</p>
